/*------ Vars ------*/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
$font-family: 'Poppins', Arial, Helvetica, sans-serif;

// Colors
$accent: #C2A08D;
$white: #ffffff;
$black: #000000;

/*------ Base ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 16px;
}

h1,
.h1 {
    font-weight: 600;
}

/*------ Homepage ------*/
.homepage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100vh;
    background: $accent;
    color: $white;
    @media screen and (max-width: 512px) {
        flex-direction: column;
    }

    &__info-wrapper {
        position: relative;
        width: 50%;
        height: 100%;
        @media screen and (max-width: 512px) {
            display: none;
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
        @media screen and (max-width: 512px) {
            top: 40%;
        }

        &--big,
        &--small {
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s ease-out;
            transition-property: opacity, transform;
            transition-delay: 2.5s;
            &.animated {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &--big {
            font-weight: 600;
            font-size: 4vw;
            line-height: 1;
            transition-duration: 0.7s;
            @media screen and (max-width: 512px) {
                font-size: 14vw;
            }
        }
    }

    &--background-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        opacity: 0.15;
        font-size: 10vw;
        transform: translate(-50%, -50%);
        z-index: 2;
        @media screen and (max-width: 512px) {
            font-size: 15vw;
        }

        span {
            display: inline-block;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s ease-in-out;
            transition-property: opacity, transform;
            transition-delay: 1s;
            &.animated {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__image-wrapper {
        position: relative;
        width: 50%;
        height: 100%;
        background-image: url('/assets/img/Thomas.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 10%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        @media screen and (max-width: 512px) {
            width: 100%;
            opacity: 0;
        }
    }
}

.test-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        opacity: 0;
        transform: translateY(50px);
        transition: all 2s ease-in-out;
        &.animated {
            opacity: 1;
            transform: translateY(0);
        }
    }
}